- guests = [{ \
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-02.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-03.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-04.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-05.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-06.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }, {\
    'avatar' => 'http://olgabnvpe.bkt.clouddn.com/guest-img-01.jpg',
    'name' => 'Elon Musk',
    'company' => 'Tesla、SpaceX 创始人 & CEO OpenAI 联合创始人'\
  }]

section.guests
  .container
    .guests-wall
      =render 'gmis/2017/shared/module_title', en: 'GUEST SPEAKER', zh: '主讲嘉宾'

      - guests.each_with_index do |guest, index|
        a.guest-item href="javascript:;" data-index="#{index + 2}"
          .avatar style="background-image:url('#{guest['avatar']}')"
          .mask
          .info
            .company=guest['company']
            .name=guest['name']
          .border.border-top
          .border.border-left
          .border.border-right
          .border.border-bottom
