<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta content="initial-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" name="viewport">
    <title> GMIS </title>
    <%= stylesheet_link_tag 'entries/gmis2017', media: 'all' %>
    <%= javascript_include_tag 'entries/gmis2017' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p> gmis
    </p>
  </body>
</html>
