section.address {
  position: relative;
  width: 100%;

  .gmis-map {
    width: 100%;
    height: 450px;

    .BMap_mask {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .address-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .address-container {
    position: relative;
  }

  .address-info {
    position: absolute;
    right: 40px;
    top: 90px;
    color: #fff;
    width: 350px;
  }

  .icon-location {
    font-size: 2rem;
    color: $red;
    line-height: 25px;
    margin-right: 10px;
  }

  .icon-car {
    font-size: 2rem;
    color: $red;
    align-self: baseline;
    margin-right: 10px;
    line-height: 28px;
  }

  .detail,
  .route-line {
    display: flex;
    padding: 13px 20px;
    background-color: rgba(0, 0, 0, 0.85);

    p {
      margin-top: 3px;
      margin-bottom: 8px;
    }
  }

  .detail {
    margin-bottom: 5px;
  }
}


@media #{$medium-and-down} {
  section.address {
    .gmis-map {
      height: 300px; 
    }

    .address-content,
    .address-info {
      position: static;
    }

    .address-info {
      width: 100%;
    }
  }
}
