section.agenda {
  padding: 30px 0;
  position: relative;
  background-color: #fff;
  background-image: image_url('gmis2017/agenda-bg.png');
  background-size: 16px;

  .module-title .en {
    color: #000;
  }

  .agenda-content {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.7;
  }

  img.ime {
    position: relative;
    top: 2px;
    height: 18px;
    padding-left: 10px;
  }

  .agenda-list {
    width: 50%;

    .day {
      font-weight: bold;
      margin-right: 15px;
    }

    .slash,
    .sun,
    .week {
      font-size: 2.5rem;
    }

    &:nth-child(2) .agenda-day-wrapper{
      background-image: image_url('gmis2017/day2-bg.png');
    }
  }

  .agenda-day-wrapper {
    font-size: 4.5rem;
    background-image: image_url('gmis2017/day1-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 5% 10px;
    margin-bottom: 20px;
  }

  .agenda-item {
    display: flex;
    margin-bottom: 18px;
  }

  .agenda-info {
    font-size: 1.8rem;
    padding-left: 5%;
    padding-right: 3%;
    line-height: 1.5;
  }

  .theme-content {
    padding-left: 10px;
    color: $red;
  }

  .theme-icon .icon-time {
    font-size: 2rem;
  }

  .theme-time {
    font-size: 2rem;
    margin-bottom: 3px;
    font-weight: bold;
  }
}

@media #{$medium-and-down} {
  section.agenda {
    padding: 30px 0;

    .agenda-title {
      padding: 0 5%;
    }

    .agenda-content {
      flex-direction: column;
      padding-top: 0;
    }

    .agenda-list {
      width: 100%;
    }
  }
}
