section.banner {
  display: block;
  background-color: #000;
  position: relative;
  height: 100vh;
  min-height: 600px;

  .banner-container {
    position: relative;
    height: 100%;
    z-index: 3;
  }

  .down-btn {
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(-50%);
    z-index: 20;

    .iconfont {
      font-size: 3rem;
      color: #fff;
    }
  }

  .banner-head {
    position: absolute;
    top: 0;
    width: 100%;
    height: $header_h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .menu-list {
    width: 30px;
    height: $header_h - 8px;
    position: relative;
    color: #fff;
    overflow: hidden;
    transition: all 0.4s;
    cursor: pointer;

    .icon-menu {
      display: block;
    }

    .icon-closed {
      display: none;
    }

    &:after {
      content: '';
      width: 100%;
      height: 30px;
      position: absolute;
      border: 1px solid #fff;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.4s;
      box-sizing: border-box;
    }

    &.is-active {
      width: calc(100% - 200px);

      &:after {
        opacity: 0;
        right: 0;
        height: $header_h - 8px;
      }

      .icon-menu {
        display: none;
      }

      .icon-closed {
        display: block;
      }
    }
  }

  .nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    text-align: right;
    padding-right: 80px;
    z-index: 9;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.2s;

    &:hover {
      color: $red;
    }
  }

  .iconfont {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .synced-logo {
    @include synced-logo(30px);
  }

  .banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  img {
    width: 100%;
  }

  .slogan {
    width: 45%;
    margin-left: 20%;
    margin-bottom: 20px;
  }

  .date {
    color: #fff;
    margin-bottom: 10px;
    font-size: 5rem;
    margin-left: 20%;
  }

  .location {
    color: $red;
    margin-left: 20%;
    font-size: 1.8rem;
  }

  .banner-kv {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: image_url('gmis2017/banner-kv.png');
    background-size: 140%;
    background-position: center;
  }
}

@media #{$medium-and-down} {
  section.banner {
    padding-top: 0;

    .banner-head {
      display: none;
    }

    .banner-content {
      padding: 0 10%;

      .slogan {
        width: 100%;
        margin-left: 0;
      }

      .date {
        margin-left: 0;
        font-size: 3rem;
      }

      .location {
        margin-left: 0;
        font-size: 1.6rem;
      }
    }

    .gmis-logo {
      width: 85%;
    }

    .banner-kv {
      background-size: cover;
    }
  }
}
