$ratio-elem-01: 254 / 496;
$ratio-elem-02: 258 / 286;
$ratio-elem-03: 210 / 308;
$ratio-elem-05: 304 / 324;
$ratio-elem-07: 288 / 528;
$ratio-overflow-elem-left: 248 / 208;
$ratio-overflow-elem-right: 418 / 136;

section.banner {
  display: block;
  background-color: #000;
  background-image: image_url('gmis2017/banner-bg.png');
  background-position: center;
  background-repeat: repeat;
  padding-top: $header_h;
  position: relative;

  .banner-container {
    position: relative;
  }

  .banner-content {
    padding-top: 15%;
    padding-bottom: 18%;
    position: relative;
    z-index: 2;
  }

  img {
    width: 100%;
  }

  .gmis-logo {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .slogan {
    color: $red;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .formula-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formula {
    width: 40%;
  }

  .location {
    color: $yellow;
    margin-left: 20px;
  }

  .elem {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .banner-elems {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .elem-01 {
      width: 150px;
      height: 150px * $ratio-elem-01;
      left: 8%;
      background-image: image_url('gmis2017/banner-elem-01.png');
    }

    .elem-02 {
      width: 50px;
      height: 50px * $ratio-elem-02;
      top: 30px;
      left: 60%;
      background-image: image_url('gmis2017/banner-elem-02.png');
    }

    .elem-03 {
      width: 100px;
      height: 100px * $ratio-elem-03;
      top: 30px;
      right: 80px;
      background-image: image_url('gmis2017/banner-elem-03.png');
      transform: rotate(180deg);
    }

    .elem-04 {
      width: 80px;
      height: 80px * $ratio-elem-02;
      top: 70px;
      right: 30px;
      background-image: image_url('gmis2017/banner-elem-02.png');
    }

    .elem-05 {
      width: 120px;
      height: 120px * $ratio-elem-05;
      bottom: 20px;
      left: 0;
      background-image: image_url('gmis2017/banner-elem-05.png');
    }

    .elem-06 {
      width: 100px;
      height: 100px * $ratio-elem-03;
      bottom: 50px;
      left: 45%;
      background-image: image_url('gmis2017/banner-elem-03.png');
    }

    .elem-07 {
      width: 170px;
      height: 170px * $ratio-elem-07;
      bottom: 50px;
      right: 0;
      background-image: image_url('gmis2017/banner-elem-07.png');
    }
  }

  .banner-overflow-elems {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .elem-overflow-left {
      width: 80px;
      height: 80px * $ratio-overflow-elem-left;
      top: 40%;
      left: 20px;
      background-image: image_url('gmis2017/banner-overflow-elem-left.png');
    }

    .elem-overflow-right {
      width: 50px;
      height: 50px * $ratio-overflow-elem-right;
      bottom: 35%;
      right: 20px;
      background-image: image_url('gmis2017/banner-overflow-elem-right.png');
    }
  }
}
