html,
body {
  background-color: #000;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1.6rem;
  font-family: 'PingFang SC', 'Noto Sans S Chinese', 'Lantinghei SC', 'Hack', 'Microsoft Yahei', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
}

$red: #CC004D;
$yellow: #fffe54;

$header_h: 70px;
$sponsor-logo-h: 45px;

$mobile-edge: 12px;

// Media Query Ranges
$small-screen-up: 601px;
$medium-screen-up: 768px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 767px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";


@mixin synced-logo($h) {
  display: inline-block;
  background-image: image_url('gmis2017/synced-logo.png');
  height: $h;
  width: $h * 1440 / 276;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
