html,
body {
  background-color: #000;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1.6rem;
  font-family: 'PingFang SC', 'Noto Sans S Chinese', 'Lantinghei SC', 'Hack', 'Microsoft Yahei', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}


$red: #CC004D;
$yellow: #fffe54;

$header_h: 70px;
$sponsor-logo-h: 45px;

$mobile-edge: 12px;

// Media Query Ranges
$small-screen: 375px;
$medium-screen: 750px;
$large-screen: 1200px;
$container-screen: 1100px;

$small-and-down: "only screen and (max-width: #{$small-screen})";
$medium-and-down: "only screen and (max-width: #{$medium-screen})";
$container-and-down: "only screen and (max-width: #{$container-screen})";

.container {
  max-width: $container-screen;
  margin: 0 auto;
}

@mixin synced-logo($h) {
  display: inline-block;
  background-image: image_url('gmis2017/synced-logo.png');
  height: $h;
  width: $h * 1440 / 276;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media #{$container-and-down} {
  .container {
    padding-left: $mobile-edge;
    padding-right: $mobile-edge;
  }
}
