@font-face {
  font-family: 'iconfont';  /* project id 232308 */
  src: url('//at.alicdn.com/t/font_ip7yuavukrzfr.eot');
  src: url('//at.alicdn.com/t/font_ip7yuavukrzfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ip7yuavukrzfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_ip7yuavukrzfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ip7yuavukrzfr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.icon-car:before {
    content: "\e610";
  }

  &.icon-location:before {
    content: "\e611";
  }

  &.icon-time:before {
    content: "\e612";
  }

  &.icon-closed:before {
    content: "\e601";
  }

  &.icon-menu:before {
    content: "\e600";
  }

  &.icon-email:before {
    content: "\e65e";
  }
}
