section.ime {
  background-image: image_url('gmis2017/ime-bg.png');
  background-position: center;
  background-size: cover;
  padding: 110px 0;
  color: #fff;
  text-align: center;

  .container {
    padding: 0 10%;
  }

  .ime-logo {
    display: inline-block;
    background-image: image_url('gmis2017/ime-logo.png');
    width: 279px;
    height: 279px * 148 / 558;
    background-size: 100%;
    margin-bottom: 55px;
  }

  p {
    margin: 0;
    line-height: 2;
  }
}


@media #{$medium-and-down} {
  section.ime {
    background-image: image_url('gmis2017/ime-bg-mobile.png');
    padding-left: 8%;
    padding-right: 8%;
    font-size: 1.4rem;

    .container {
      padding: 0 8%;
    }

    .ime-logo {
      width: 179px;
      height: 179px * 148 / 558;
    }
  }
}
