@font-face {
  font-family: 'bongonaut';
  src: font_url('bongonaut.ttf');
}

@font-face {
  font-family: 'GEO231L';
  src: font_url('GEO231L.TTF');
}

.textfont-bongoaut {
  font-family: 'bongonaut';
}

.textfont-geo231l {
  font-family: 'GEO231L';
}
