@font-face {
  font-family: 'bongonaut';
  src: font_url('bongonaut.ttf');
}

@font-face {
  font-family: 'GEO231L';
  src: font_url('GEO231L.TTF');
}

@font-face {
  font-family: 'HelveticaNeueCn';
  src: font_url('HelveticaNeueCn.otf');
}

@font-face {
  font-family: 'HelveticaNeueLt';
  src: font_url('HelveticaNeueLt.otf');
}

.textfont-bongoaut {
  font-family: 'bongonaut';
}

.textfont-geo231l {
  font-family: 'GEO231L';
}

.textfont-helvetica-bold {
  font-family: 'HelveticaNeueCn';
}

.textfont-helvetica-thin {
  font-family: 'HelveticaNeueLt';
}
