section.tickets {
  background-image: image_url('gmis2017/tickets-bg-02.png');
  background-size: cover;
  background-position: center;
  padding: 80px 0;

  .tickets-title {
    margin-bottom: 20px;
  }

  .tickets-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;

    .ticket-wrapper {
      position: relative;
      z-index: 2;
      padding: 25px 15px;
      color: #fff;
      width: 100% / 4 * 1;
      border: 1px solid $red;
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      text-align: center;
      margin-right: 15px;

      &:nth-child(4) {
        margin-right: 0;
      }
    }

    .ticket-head {
      min-height: 112px;
      margin-bottom: 8px;
    }

    .type {
      font-size: 3rem;
      margin-right: 2px;
    }

    .name {
      position: relative;
    }

    .note {
      position: absolute;
      color: $red;
      bottom: 5px;
      font-size: 1.4rem;
    }

    .price {
      font-size: 5rem;
      font-weight: bold;

      &.free {
        font-size: 6rem;
      }
    }

    .unit {
      font-size: 3rem;
      margin-right: 5px;
    }

    .reserve-btn {
      background-color: $red;
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 8px 0;
      font-size: 2rem;
      border-radius: 5px;
      margin-bottom: 15px;
      letter-spacing: 5px;
      font-style: italic;
      transition: all 0.2s;

      &:hover {
        background-color: #e52c63;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      }
    }

    .rights {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;

      &::after {
        content: '';
        width: 50px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .ticket-line-anima {
    position: absolute;
    top: -48px;
    right: 20px;
    transform: scale(1.4);
  }
}


@media #{$medium-and-down} {
  section.tickets {
    padding: 30px 0;
    background-image: image_url('gmis2017/tickets-bg-mobile.png');

    .tickets-title {
      padding: 0 $mobile-edge;
    }

    .tickets-list {
      padding: 0 $mobile-edge;
      flex-wrap: wrap;

      .ticket-wrapper {
        width: calc(50% - 5px);
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 1.4rem;
        background-image: image_url('gmis2017/ticket-angle.png');
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: top right;

        &:nth-child(2n) {
          margin-right: 0;
        }

        &:first-child {
          background: none;
        }
      }

      .note {
        display: none;
      }

      .reserve-btn {
        padding: 4px 0;
        font-size: 1.8rem;
      }

      .ticket-head {
        min-height: 82px;
        margin-bottom: 8px;
      }

      .type {
        font-size: 2.3rem;
      }

      .unit {
        font-size: 2rem;
      }

      .price {
        font-size: 3.5rem;
      }

      .price.free {
        font-size: 3.8rem;
      }
    }
  }
}
