$moon-ratio: 517 / 512;

section.vote {
  position: relative;
  z-index: 10;
  color: #fff;
  padding: 40px 0;
  overflow: hidden;
  background-color: #161620;
  background-image: image_url('gmis2017/vote/vote-bg.png');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 10px;

  .container {
    position: relative;
  }

  .vote-parallax {
    position: absolute;
  }

  .moon-wrapper {
    display: flex;
    flex-direction: column;
  }

  .vote-title--main {
    display: inline-block;
    font-size: 3.8rem;
    font-style: italic;
    margin-right: 15px;


    .icon-vote {
      font-size: 3rem;
      color: $red;
    }
  }

  .vote-title--side {
    display: inline-block;
  }

  .moon-elem {
    width: 517px;
    height: 517px * $moon-ratio;
    background-image: image_url('gmis2017/vote/moon.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }

  .vote-content {
    position: relative;
    height: 0;
    padding-bottom: 20%;
  }

  .vote-option {
    position: absolute;

    .vote-btn {
      position: relative;
      display: inline-block;
      font-size: 1.8rem;
      color: #000;
      background-color: #fff;
      padding: 5px 15px;
      text-decoration: none;
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      transition: all 0.3s;

      &:hover {
        color: #fff;
        background-color: $red;
      }
    }

    .vote-progress {
      margin-top: 10px;
      display: flex;
      padding: 3px 10px;
      justify-content: space-between;
      border: 1px solid $red;
      color: $red;
      width: 120px;

      .spinner-line {
        height: 25px;
      }

      .spinner-line > div {
        animation: none;
        margin-right: 3px;
      }

      span {
        font-size: 1.8rem;
      }
    }

    &:nth-child(1) {
      margin-top: -13%;
    }

    &:nth-child(2) {
      left: 20%;
    }

    &:nth-child(3) {
      left: 65%;
    }

    &:nth-child(4) {
      left: 74%;
      margin-top: -15%;
    }

    &:nth-child(5) {
      left: 5%;
      margin-top: 12%;
    }

    &:nth-child(6) {
      left: 43%;
      margin-top: 12%;
    }

    &:nth-child(7) {
      right: 0;
      margin-top: 12%;
    }
  }
}

@media #{$container-and-down} {
  section.vote {
    background-attachment: scroll;

    .moon-elem {
      width: 280px;
      height: 280px * $moon-ratio;
    }

    .moon-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      flex-direction: column-reverse;

      .vote-title--side {
        display: block;
      }
    }

    .vote-title--main {
      font-size: 3rem;
    }

    .vote-title {
      top: 290px;
      padding: 0 20px;
      margin-bottom: 15px;
      margin-top: 20px;
    }

    .vote-content {
      height: auto;
      padding: 0 20px;
      margin-bottom: 50px;

      .vote-option .vote-btn {
        background-color: $red;
        color: #fff;
        border-radius: 5px;
      }

      .vote-option:nth-child(n) {
        position: static;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    .elem {
      display: none;
    }
  }
}
