$moon-ratio: 517 / 512;
$slogan-01-ratio: 113 / 1440;
$slogan-02-ratio: 65 / 593;

section.vote {
  position: relative;
  z-index: 10;
  color: #fff;
  padding: 40px 0;
  overflow: hidden;
  background-color: #161620;
  background-image: image_url('gmis2017/vote/vote-bg.png');
  background-attachment: fixed;
  background-repeat: repeat;

  .container {
    position: relative;
  }

  .vote-parallax {
    position: absolute;
  }

  .moon-wrapper {
    position: relative;
  }

  .vote-title--main {
    display: inline-block;
    font-size: 3.8rem;
    font-style: italic;
    margin-right: 8px;


    .icon-vote {
      font-size: 3rem;
      color: $red;
    }
  }

  .vote-title--side {
    display: inline-block;
  }

  .moon-elem {
    width: 517px;
    height: 517px * $moon-ratio;
    background-image: image_url('gmis2017/vote/moon.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }

  .vote-title {
    position: absolute;
    top: 0px;
    z-index: 2;
  }

  .vote-slogan--01 {
    width: 800px;
    height: 800px * $slogan-01-ratio;
    position: absolute;
    top: 205px;
    background-image: image_url('gmis2017/vote/vote-slogan.png');
    background-size: cover;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
  }

  .vote-slogan--02 {
    width: 350px;
    height: 350px * $slogan-02-ratio;
    position: absolute;
    top: 310px;
    background-image: image_url('gmis2017/vote/vote-slogan-02.png');
    background-size: cover;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
  }

  .vote-content {
    position: relative;
    height: 0;
    padding-bottom: 20%;

    .vote-option {
      position: absolute;

      .vote-btn {
        position: relative;
        display: inline-block;
        font-size: 1.8rem;
        color: #000;
        background-color: #fff;
        padding: 2px 15px;
        text-decoration: none;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;

        &:hover {
          color: #fff;
          background-color: $red;
        }
/*
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-image: image_url('gmis2017/vote/vote-btn-bg.png');
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          z-index: -1;
          background-size: 100% auto;
        } */
      }

      .vote-progress {
        margin-top: 22px;
        display: flex;
        padding: 3px 10px;
        justify-content: space-between;
        border: 1px solid $red;
        color: $red;

        .spinner-line div {
          animation: none;
        }

        span {
          font-size: 1.8rem;
          /* font-weight: bold; */
        }
      }

      &:nth-child(1) {
        margin-top: -10%;
      }

      &:nth-child(2) {
        left: 20%;
      }

      &:nth-child(3) {
        left: 65%;
      }

      &:nth-child(4) {
        right: 4%;
        margin-top: -15%;
      }

      &:nth-child(5) {
        left: 5%;
        margin-top: 12%;
      }

      &:nth-child(6) {
        left: 43%;
        margin-top: 12%;
      }

      &:nth-child(7) {
        right: 0;
        margin-top: 12%;
      }
    }
  }

  .elem {
    position: absolute;

    &.elem-bg-01 {
      top: 0;
      left: -85px;
      width: 150px;
      height: 150px * 288 / 528;
      background-image: image_url('gmis2017/elem/elem-07.png');
      background-size: cover;
      background-position: center;
    }

    &.elem-bg-02 {
      top: 40px;
      right: 10px;
      width: 150px;
      height: 150px * 189 / 232;
      background-image: image_url('gmis2017/elem/elem-13.png');
      background-size: cover;
      background-position: center;
    }

    &.elem-bg-03 {
      bottom: 180px;
      right: 0;
      width: 60px;
      height: 60px * 61 / 80;
      background-image: image_url('gmis2017/elem/elem-14.png');
      background-size: cover;
      background-position: center;
    }

    &.elem-bg-04 {
      bottom: 40px;
      left: 0;
      width: 160px;
      height: 160px * 82 / 258;
      background-image: image_url('gmis2017/elem/elem-15.png');
      background-size: cover;
      background-position: center;
    }
  }
}

@media #{$medium-and-down} {
  section.vote {
    padding: 0 $mobile-edge;
    background-attachment: scroll;

    .moon-elem {
      width: 220px;
      height: 220px * $moon-ratio;
    }

    .moon-wrapper {
      padding-top: 20px;
      padding-bottom: 120px;
    }

    .vote-title--main {
      font-size: 3rem;
    }

    .vote-title {
      top: 290px;
    }

    .vote-slogan--01 {
      width: 350px;
      height: 350px * $slogan-01-ratio;
      top: 108px;
    }

    .vote-slogan--02 {
      width: 220px;
      height: 220px * $slogan-02-ratio;
      left: 0;
      top: 260px;
      transform: translateX(0);
    }

    .vote-content {
      height: auto;
      padding: 0 20px;

      .vote-option .vote-btn {
        background-color: $yellow;
      }

      .vote-option:nth-child(n) {
        position: static;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    .elem {
      display: none;
    }
  }
}
