@import 'materialize';
@import 'material_icons';
@import 'perfect-scrollbar';
@import 'jquery-ui';

@import '../admin/layout';
@import '../admin/sidebar';
@import '../admin/loader';
@import '../admin/base';
@import '../admin/guest';
